<app-background class="backgroundExtended"></app-background>

<div class="wholeScreen">
  <app-header></app-header>
  <div class="restOfScreen">
    <div class="formDiv">
      <form (ngSubmit)="sendEmail($event)" #contactForm="ngForm">
        <div class="form-control-div">
          <mat-form-field>
            <mat-label>Enter your Name</mat-label>
            <input
              matInput
              [formControl]="nameOfCustomer"
              placeholder="Example Name"
              type="text"
              required
            />
          </mat-form-field>
        </div>

        <div class="form-control-div">
          <mat-form-field>
            <mat-label>Enter your email</mat-label>
            <input
              matInput
              [formControl]="emailOfCustomer"
              type="email"
              pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
              placeholder="example@example.com"
              required
            />
          </mat-form-field>
        </div>

        <div class="textAreaDiv">
          <mat-form-field>
            <mat-label>Your Text</mat-label>
            <textarea matInput placeholder="{{ 'placeHolder' | translate }}" required type="email"
                      [formControl]="textOfCustomer" class="textarea"></textarea>
          </mat-form-field>
        </div>
        <div class="buttonDiv">
          <button mat-flat-button type="submit" class="button">Send</button>
        </div>
      </form>
    </div>

    <div class="imageDiv">
      <img id="talking" src="assets/rb_43081.webp" alt="Picture of people wanting to talk">
    </div>
  </div>
</div>
<app-footer></app-footer>
