<app-background class="backgroundExtended"></app-background>

<div class="wholeScreen">
  <app-header></app-header>
  <div class="restOfScreen">
    <div class="formDiv">
      <form (ngSubmit)="sendEmail($event)" #contactForm="ngForm">
        <div class="form-control-div">
          <mat-form-field>
            <mat-label>{{ 'form.name_label' | translate }}</mat-label>
            <input
              matInput
              [formControl]="nameOfCustomer"
              placeholder="{{ 'form.name_placeholder' | translate }}"
              type="text"
              required
            />
          </mat-form-field>
        </div>

        <div class="form-control-div">
          <mat-form-field>
            <mat-label>{{ 'form.email_label' | translate }}</mat-label>
            <input
              matInput
              [formControl]="emailOfCustomer"
              type="email"
              pattern="^[a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\.[a-zA-Z]{2,}$"
              placeholder="{{ 'form.email_placeholder' | translate }}"
              required
            />
          </mat-form-field>
        </div>

        <div class="textAreaDiv">
          <mat-form-field>
            <mat-label>{{ 'form.message_label' | translate }}</mat-label>
            <textarea
              matInput
              placeholder="{{ 'form.message_placeholder' | translate }}"
              required
              type="text"
              [formControl]="textOfCustomer"
              class="textarea"
            ></textarea>
          </mat-form-field>
        </div>
        <div class="buttonDiv">
          <button mat-flat-button type="submit" class="button">{{ 'form.send_button' | translate }}</button>
        </div>
      </form>
    </div>

    <div class="imageDiv">
      <img id="talking" src="../../../assets/contactPicture.webp" alt="{{ 'form.image_alt' | translate }}">
    </div>
  </div>
</div>
