<app-background class="background"></app-background>
<div class="wholeScreen">
    <app-header></app-header>
    <div class="restOfScreen">
        <div class="imgDiv">
            <img src="../../../assets/portrait_of_raphael.jpg" alt="Portrait of Raphaël Schreiber">
        </div>
        <div class="infoDiv">
            <p>Hello my name is Raphaël Schreiber and I do a apprenticeship at SBB as an Software Developer.</p>
            <p>I love to work on Frontend Projects but I can programm a Fullstack-Application. I especially like UX-Design, UI-Design, and the whole Frontend.</p>
            <p>I am interested in learning how to programm a mobile App and I want to learn Flutter with Dart.</p>
            <p>I wish that I can work in a mobile Team in which I can learn the frameworks etc...</p>
        </div>
    </div>
</div>
<app-footer></app-footer>