<app-background class="backgroundExtended"></app-background>
<div class="wholeScreen">
    <app-header></app-header>
    <div class="restOfScreen">
          <img id="portrait" src="../../../assets/portrait_of_raphael.webp" alt="Portrait of Raphaël Schreiber">
        <div class="infoDiv">
            <p>{{ "firstOfAboutMe" | translate }}</p>
            <p>{{ "secondOfAboutMe" | translate }}</p>
            <p>{{ "thirdOfAboutMe" | translate }}</p>
        </div>
    </div>
</div>
<app-footer class="backgroundExtended"></app-footer>
