<app-background class="background"></app-background>
<div class="wholeScreen">
    <app-header></app-header>
    <div class="restOfScreen">
        <div class="imgDiv">
          <img id="portriat" src="../../../assets/portrait_of_raphael.webp" alt="Portrait of Raphaël Schreiber">
        </div>
        <div class="infoDiv">
            <p>{{ "firstOfAboutMe" | translate }}</p>
            <p>{{ "secondOfAboutMe" | translate }}</p>
            <p>{{ "thirdOfAboutMe" | translate }}</p>
        </div>
    </div>
</div>
<app-footer></app-footer>
