.restOfScreen {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;

  .imgDiv {
    width: 25%;
    height: 70%;
    border-radius: 12px;
    border: 2px solid black;
    background-color: rgba(0, 0, 0, 0.43);

    #portrait {
      width: 100%;
      height: 100%;
      border-radius: 12px;
      box-sizing: border-box;
    }
  }

  .infoDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 50%;
    height: 50%;
    background-color: rgba(0, 0, 0, 0.43);
    border-radius: 12px;
    color: rgb(255, 255, 255);
    font-size: 25px;

    p {
      margin: 0;
      padding: 0;
      width: 90%;
      height: auto;
      text-align: center;
    }
  }
}
@media (max-width: 450px) and (min-width: 200px) {
  .restOfScreen {
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

    .imgDiv{
      width: 80%;
      height: 50%;
    }

    .infoDiv{
      margin-top: 5%;
      height: 70% !important;
      width: 90%;
      margin-bottom: 5%;
    }
  }
}
