<div class="header">
  <!-- Desktop view: Buttons centered, Translator on the right -->
  <div class="allButtons">
    <button class="button" routerLink="/home">{{ "home" | translate }}</button>
    <button class="button" routerLink="/about-me">{{ "aboutMe" | translate }}</button>
    <button class="button" routerLink="/projects">{{ "projects" | translate }}</button>
    <button class="button" routerLink="/skills">{{ "skills" | translate }}</button>
    <button class="button" routerLink="/contact">{{ "contact1" | translate }}</button>
  </div>

  <!-- Translator button, visible in both mobile and desktop -->
  <button mat-icon-button [matMenuTriggerFor]="menu" class="translator" aria-label="Language selector">
    <mat-icon class="icon">g_translate</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    @for (currentLanguage of Environment.langauges; track $index) {
      <button mat-menu-item (click)="changeLanguage(currentLanguage)">
        {{ currentLanguage }}
      </button>
    }
  </mat-menu>

  <!-- Mobile view: Menu icon on the left side -->
  <button mat-icon-button [matMenuTriggerFor]="menuIcon" class="menuIcon" aria-label="Menu Button">
    <mat-icon class="menuIcon">more_vert</mat-icon>
  </button>

  <mat-menu #menuIcon="matMenu" class="phone">
    <button mat-menu-item routerLink="/home">
      <span>{{ "home" | translate }}</span>
    </button>
    <button mat-menu-item routerLink="/about-me">
      <span>{{ "aboutMe" | translate }}</span>
    </button>
    <button mat-menu-item routerLink="/projects">
      <span>{{ "projects" | translate }}</span>
    </button>
    <button mat-menu-item routerLink="/skills">
      <span>{{ "skills" | translate }}</span>
    </button>
    <button mat-menu-item routerLink="/contact">
      <span>{{ "contact1" | translate }}</span>
    </button>
  </mat-menu>
</div>
