.header {
  width: 100vw; /* Breite auf die Ansichtsfeldbreite (Viewport) beschränken */
  max-width: 100%; /* Sicherstellen, dass der Header nicht über die Breite des Bildschirms hinausgeht */
  height: 10%;
  display: flex;
  justify-content: center; /* Buttons und Icon zentriert */
  align-items: center; /* Vertikale Zentrierung */
  position: relative; /* Erlaubt absolute Positionierung von Elementen */
}

.allButtons {
  width: 60%;
  height: 50%;
  border-radius: 12px;
  background-color: rgb(0, 0, 0);
  display: flex;
  align-items: center;

  .button:hover {
    background-color: rgb(29, 29, 29);
  }

  .button {
    font-family: Helvetica, serif;
    font-size: 17.5px;
    font-weight: bold;
    width: 20%;
    height: 100%;
    border-radius: 9px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    border: none;
  }
}

.button:hover {
  background-color: rgb(29, 29, 29); /* Der Hover-Effekt füllt nur den Button aus */
}

.translator {
  position: absolute;
  top: 50%;
  right: 2%;
  transform: translateY(-50%);
  background-color: transparent;
  border: none;
  color: black;
  cursor: pointer;
}

.translator .icon {
  font-size: 30px;
}

.menuIcon {
  font-size: 30px;
  color: white;
  display: none;
}

/* Mobile View */
@media (max-width: 815px) {
  .header {
    justify-content: space-between;
    padding: 0 10px;
  }

  .allButtons {
    display: none;
  }

  .menuIcon {
    display: block;
  }

  .translator {
    color: white;
    margin-right: 10px;
  }
}

/* Laptop/Desktop View */
@media (min-width: 816px) {
  .menuIcon {
    display: none;
  }
}
