#circleContainer {
  position: fixed; // Sicherstellen, dass der Container immer sichtbar ist
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0; // Hintergrund
}

.circle-div {
  width: 150px;
  height: 150px;
  background-color: #3b9dff;
  filter: blur(20px);
  position: absolute;
  border-radius: 50%; // Rund machen
}


//Phone
@media (max-width: 450px) and (min-width: 200px) {
  .circle-div {
    width: 20px;
    height: 20px;
  }
}

//Tablet
@media (max-width: 1050px) and (min-width: 451px) {
  .circle-div {
    width: 100px;
    height: 100px;
  }
}