#circleContainer {
  position: fixed; // Sicherstellen, dass der Container immer sichtbar ist
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  z-index: 0; // Hintergrund
}

.circle-div {
  width: 150px;
  height: 150px;
  background-color: #007FFF;
  -webkit-filter: blur(20px);
  position: absolute;
  border-radius: 50%; // Rund machen
}