div{
    border-top: 5px black solid;
    background-color: rgb(210, 210, 210);
    width: 100%;
    height: 10%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    z-index: 100;
    position: relative;

    p:hover{
        cursor: pointer;
    }
    p{
        color: black;
      font-family: Helvetica, serif;
        font-size: 35px;
    }
}
@media (max-width: 600px) and (min-width: 200px) {
  div{
    height: 7%;
  }
}
