html {
  overflow-y: hidden;
  scrollbar-width: none;
}

.restOfScreen {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  h1 {
    color: white;
    font-size: 35px;
  }

  .skills-div {
    height: 70%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    h2 {
      color: white;
      width: 80%;
      font-size: 30px;
      text-align: center;
    }

    .allSkills {
      height: 80%;
      width: 80%;
      display: flex;
      justify-content: center;
      align-content: flex-start;
      flex-wrap: wrap;

      a {
        margin: 1vh 1vh;
        height: 10rem;
        width: 12rem;
        border-radius: 12px;
        text-decoration: none;

        .skill {
          color: white;
          font-size: 25px;
          border-radius: 12px;
          height: 100%;
          width: 100%;
          background-color: rgba(0, 0, 0, 0.43);
          display: flex;
          justify-content: center;
          align-items: center;
          text-align: center;
          text-decoration: none;
        }
      }
    }
  }
}

@media (max-width: 600px) and (min-width: 200px) {
  h2 {
    font-size: 20px !important;
  }

  .allSkills {
    width: 90%;
    text-align: center;
  }

  a {
    height: 6rem !important;
    width: 8rem !important;
    text-align: center;

    .skill {
      color: white;
      font-size: 17px !important;
    }
  }
}
