#circleContainer {
  width: 100%;
  height: 100%;
  background-color: #000000;
  font-family: Helvetica, serif;
  z-index: 0;
  position: fixed;
  overflow: hidden;
}

.background-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
}

.circle-div {
  width: 150px;
  height: 150px;
  background-color: #ffffff;
  filter: blur(25px);
  position: absolute;
  border-radius: 50%;
}

/* Tablet */
@media (max-width: 1050px) and (min-width: 650px) {
  .circle-div {
    width: 100px;
    height: 100px;
  }
}
:host(.backgroundExtended){
  /* Tablet */
  @media (max-width: 649px) and (min-width: 200px) {
    .circle-div {
      width: 100px;
      height: 100px;
    }

    .background-image{
      height: 120vh!important;
    }
  }
}
