html {
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    background-color: #000000;

    body {
        margin: 0;
        padding: 0;
        position: relative;
        height: 100vh;

        .background {
            width: 100vw;
            height: 100vh;
            background-color: #000000;
            background-image: linear-gradient(#00089b 1px, transparent 1px), linear-gradient(to right, #00089b 1px, #000000 1px);
            background-size: 20px 20px;
            font-family: "Bahnschrift";
            position: absolute;
            z-index: 0;
        }

        .wholeScreen {
            width: 100vw;
            height: 100vh;
            font-family: "Bahnschrift";
            position: relative;
            z-index: 1;
            
            .restOfScreen {
                height: 90%;
                width: 100%;
            }
        }
    }
}

@media (max-width: 450px) and (min-width: 200px){
    .wholeScreen{
        overflow-x: hidden;
    }
    .restOfScreen{
        display: flex;
        align-items: start;
    }
}

@media (max-width: 1050px) and (min-width: 451px) {

}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
