html{
    margin: 0;
    padding: 0;
    overflow-x: hidden;

    body{
        margin: 0;
        padding: 0;

        .wholeScreen{
            width: 100vw;
            height: 100vh;
            background-color: rgb(10, 4, 43);
            font-family: "Bahnschrift";

            .header{
                width: 100%;
                height: 10%;
                display: flex;
                justify-content: center;
                align-items: center;

                .allButtons{
                    width: 60%;
                    height: 50%;
                    border-radius: 12px;
                    background-color: rgb(196, 193, 193);

                    .button:hover{
                        background-color: rgb(98, 96, 96);
                        color: rgb(255, 255, 255);
                    }

                    .button{
                        font-family: "Bahnschrift";
                        font-size: 17.5px;
                        font-weight: bold;
                        width: 20%;
                        height: 100%;
                        border-radius: 12px;
                        background-color: rgb(196, 193, 193);
                        color: rgb(0, 0, 0);
                        border: none;
                    }
                }
            }
            .restOfScreen{
                height: 90%;
                width: 100%;
            }
        }
    }
}